@import "colors";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  // margin: 2rem;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; // Center content horizontally
  align-items: center; // Center content vertically
  text-align: center; // Center text
}
.search-div {
  margin-top: 1rem;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
  width: 80%;

  input {
    width: 60%;
  }

  button {
    width: 25%;
  }
 
}

.p-info {
  margin-bottom: 1.5rem;
}

.search-result {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  width: 300px; // Adjust the width as needed
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;

  &:hover {
    transform: translateY(-4px);
  }

  h2 {
    // Highlight the h2 element
    font-size: 1.5rem;
    color: $green; // Replace with your desired highlight color
  }

  h3 {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }

  p {
    font-size: 1rem;
  }

  img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }

  .book-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;

    &:first-child {
      margin-right: 10px;
    }

    &:hover {
      background-color: #0056b3;
    }
  }
}

.desc-div {
  p {
    margin: .7rem;
  }

  button {
    margin: .7rem;
  }
}
